#resize-circle {
  -fx-fill:white;
  -fx-stroke:gray;
  -fx-stroke-width:2px;
}

#uml-class-box-frame{
}

#uml-class-box-contents{
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: black;
}

.menu-bar {
  -fx-background-color:
          linear-gradient(#f2f2f2, #d6d6d6),
          linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
          linear-gradient(#dddddd 0%, #f6f6f6 50%);
  -fx-background-radius: 8,7,6;
  -fx-background-insets: 0,1,2;
  -fx-text-fill: black;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.menu-button {
  -fx-font-size: 14;
}

.menu-button:hover {
}

.menu-button .label {
}

.menu-item .label {
}